html,
body {
    font-size: 16px;
    height: 100%;
    margin: 0;
    position: relative;
}

button, input[type='submit'] {
    background-color: #1e88e5;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    height: 36px;
    width: 120px;
}

#formCreateMesh {
    align-items: center;
    background-color: #fff;
    border-radius: 0 0 20px 0;
    display: flex;
    gap: 20px;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
}

.formSelect {
    border: none;
    border-bottom: 2px solid #1e88e5;
    height: 36px;
    padding: 0 10px;
    width: 140px;
}

.formInput {
    border: none;
    border-bottom: 2px solid #1e88e5;
    height: 36px;
    outline: none;
    padding: 0 10px;
    width: 140px;
}

#objectsList {
    background-color: #fff;
    border-radius: 0 20px 0 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    max-height: 300px;
    overflow: auto;
    padding: 10px 0;
    position: absolute;
    width: 500px;
}

#objectsList div {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 10px 20px;
}